@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Fitness App!</h1>
    <p>"Want to change the world? Start by cleaning your room." That one piece of advice I picked up sometime in my youth encourages me to this day. My application of the phrase has changed over the years, but it has always reminded me that keeping yourself healthy and ready for life is an important start to whatever endeavours you have planned. This fitness app is designed to help you in caring for your health, however you choose to use it.  </p>
</div>
<div class="inline-block">
    <img id="introduction-photo" src="Images/weights.jpeg" alt="Gym with weights">
</div>
<div class="inline-block">
    <img id="introduction-photo2" src="Images/running.jpeg" alt="Runner silhouette">
</div>
<div class="inline-block">
    <img id="introduction-photo3" src="Images/nutrition.jpeg" alt="Healthy food examples">
</div>