@model Goals

<!DOCTYPE html>

<html>
<head>
    <title>ViewIndividualGoal</title>
</head>
<body>
<div>
    <h3>Goal Information</h3>
    
    <table class="table">
        <tr>
            <th>Goal ID</th>
            <th>Goal</th>
            <th>User ID</th>
            <th>Completed By</th>
        </tr>
        <tr>
            <td>@Model.GoalID</td>
            <td>@Model.Goal</td>
            <td>@Model.UserID</td>
            <td>@Model.CompletedBy</td>
        </tr>
    </table>
    <div style="display: block">
        <a href="/Goal/UpdateIndividualGoal/@Model.GoalID">Update this goal</a>
    </div>
</div>
</body>
</html>